header{
    height: 80vh;
    background: rgba(0, 0, 0, .65) url(/src/assets/img/wind.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-position: center;
}

.header_icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_icons i{
    margin-right: 3vw;
}

.header-buttons{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-buttons button{
    width: 20vw;
}

.CountdownTimer{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media only screen and (max-width: 600px)  {
    header{
        height: 60vh;
        background-position: center;
    }

    .header-buttons{
        width: 90vw;
    }

    .header-buttons button{
        font-size: 2vw;
    }
}